@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5" style="font-family: Arial, sans-serif; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h2 style="color: #333366; text-align: center; margin-bottom: 20px;">MHRS</h2>

    <p style="color: #555; line-height: 1.6;">
        <strong>MHRS</strong>, modern tıbbi hizmetlerin kapınıza gelmesini sağlar. Tek bir tıklamayla doktorlarımızın boş zamanlarını, uzmanlık alanlarını ve hizmet verdikleri poliklinikleri görebilir, kolayca randevu alabilirsiniz.
    </p>

    <p style="color: #555; line-height: 1.6;">
        <strong>Kolaylık:</strong> Zamanınız değerli. Sistemimizle birkaç adımda randevunuzu alabilirsiniz.
    </p>
    <p style="color: #555; line-height: 1.6;">
        <strong>Güvenlik:</strong> Kişisel bilgileriniz bizim için çok önemlidir. Tüm verileriniz gizli tutulur ve modern güvenlik protokollerimizle korunur.
    </p>
    <p style="color: #555; line-height: 1.6;">
        <strong>Esneklik:</strong> Birden fazla poliklinik, doktor ve tarih seçeneğiyle sizin için en uygun zamanı seçebilirsiniz.
    </p>

    <p style="color: #555; line-height: 1.6;">
        <strong>Uzman Doktorlarımız:</strong> Alanında uzmanlaşmış doktorlarımız, en son teknoloji ve bilimsel gelişmelerle tedavi yöntemleri sunar. Sağlığınızı bizimle güvende hissedin.
    </p>

    <p style="color: #555; line-height: 1.6;">
        <strong>Randevu Takibi:</strong> Randevularınızı kolayca takip edin, değiştirin veya iptal edin. Ayrıca, otomatik hatırlatma mesajları sayesinde hiçbir randevunuzu kaçırmayın.
    </p>

    <p style="color: #555; line-height: 1.6;">
        <strong>Sosyal Sorumluluk:</strong> Topluma daha iyi hizmet sunmak adına sürekli olarak gelişen ve yenilenen bir anlayışla hareket ediyoruz.
    </p>
</div>

