/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#centeredContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centeredContentWithShadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Burada gölgeyi tanımlıyoruz. */
    padding: 20px; /* İçerikle kenarlık arasında boşluk bırakıyoruz. */
}

#centeredContent {
    /* İçerik için ek stil tanımlamaları (varsayılan değerler). */
}



/* Genel Stil */
/*body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}*/

h1, h4 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

/* Form Stil */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}



/* Validation Stil */
.text-danger {
    color: #dc3545;
    font-size: 12px;
}

/* Geri Dönüş Linki */
a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    .btn-table{
        width:100px;
    }




.btn-create {
    background-color: #28a745; /* Yeşil renk tonu */
    color: #ffffff; /* Beyaz yazı rengi */
}

    .btn-create:hover {
        background-color: #218838; /* Hover durumunda biraz daha koyu yeşil */
    }

.btn-back {
    background-color: #007bff; /* Mavi renk tonu */
    color: #ffffff; /* Beyaz yazı rengi */
}

    .btn-back:hover {
        background-color: #0056b3; /* Hover durumunda biraz daha koyu mavi */
    }

.btn-edit {
    background-color: #28a745; /* Yeşil renk tonu */
    color: #ffffff; /* Beyaz yazı rengi */
}

    .btn-edit:hover {
        background-color: #ff6b3d; /* Hover durumunda biraz daha koyu yeşil */
    }

.btn-details {
    background-color: #007bff; /* Yeşil renk tonu */
    color: #ffffff; /* Beyaz yazı rengi */
}

    .btn-details:hover {
        background-color: #0056b3; /* Hover durumunda biraz daha koyu yeşil */
    }

.btn-delete {
    background-color: #dc3545; /* Yeşil renk tonu */
    color: #ffffff; /* Beyaz yazı rengi */
}

    .btn-delete:hover {
        background-color: #c82333; /* Hover durumunda biraz daha koyu yeşil */
    }

/* Genel tablo stillemesi */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    /* Tablo başlığı için stil */
    .table th {
        background-color: #f4f4f4;
        padding: 8px 12px;
        text-align: left;
        font-weight: bold;
        border-bottom: 2px solid #ddd;
    }

    /* Tablo satırları için stil */
    .table td {
        padding: 8px 12px;
        border-bottom: 1px solid #ddd;
    }

    /* Zebra çizgili satırlar için stil */
    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

/* Bağlantılar için stil */
a {
    color: #007bff;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 4px;
}

    a:hover {
        background-color: #e9ecef;
        text-decoration: none;
    }


