@model WebApplication7.Models.Appointment

@{
    ViewData["Title"] = "Reserve";
}

<h1>Reserve</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="appointmentID" />
            <div class="form-group">
                <label  class="control-label">Klinik</label>
                <select id="clinicId" class="form-control" asp-items="ViewBag.Clinics">
                    <option disabled selected>---- Klinik Seçiniz ----</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="doctorID" class="control-label"></label>
                <select  asp-for="doctorID" class="form-select" id="doctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="appointmentDate"  class="control-label">Randevu Tarihi</label>
                <select asp-for="appointmentDate" class="form-select" id="appointmentDateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="appointmentTime" class="control-label">Randevu Saati</label>
                <select asp-for="appointmentTime" class="form-select" id="appointmentTimeId"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            GetDoctorsByClinicId();

            $("#clinicId").change(function () {
                GetDoctorsByClinicId();
            });
        });

        var GetDoctorsByClinicId = function () {
            $.ajax({
                url: '@Url.Action("GetDoctorsByClinicId", "Appointments")',
                type: 'GET',
                data: {
                    clinicId: $('#clinicId').val()
                },
                success: function (data) {
                    $('#doctorId').empty(); // Önce mevcut seçenekleri temizle
                    $(data).each(function (index, item) {
                        $('#doctorId').append('<option value="' + item.doctorId + '">' + item.firstName + " " + item.lastName + '</option>');
                    });
                    if (data.length > 0) {
                        $('#doctorId').val(data[0].doctorId);
                    }
                }
            });
        };

        //------------------------------------------------------------
        //------------------------------------------------------------
        //------------------------------------------------------------
        //------------------------------------------------------------

        $(document).ready(function () {
            GetAppointmentsByDoctorId();

            $("#doctorId").change(function () {
                GetAppointmentsByDoctorId();
            });
        });

        

        var GetAppointmentsByDoctorId = function () {
            $.ajax({
                url: '@Url.Action("GetAppointmentsByDoctorId", "Appointments")',
                type: 'GET',
                data: {
                    doctorId: $('#doctorId').val()
                },
                success: function (data) {
                    $('#appointmentDateId').empty(); // Önce mevcut seçenekleri temizle
                    $(data).each(function (index, item) {
                        // var fullDate = new Date(item.appointmentDate);
                        // var datePart = fullDate.getFullYear() + '-' + String(fullDate.getMonth() + 1).padStart(2, '0') + '-' + String(fullDate.getDate()).padStart(2, '0');
                        // $('#appointmentDateId').append('<option value="' + item.appointmentId + '">' + datePart + '</option>');
                        $('#appointmentDateId').append('<option value="' + item.appointmentId + '">' + item.appointmentDate + '</option>');

                    });
                }
            });
        };

        //------------------------------------------------------------
        //------------------------------------------------------------
        //------------------------------------------------------------
        //------------------------------------------------------------

        $(document).ready(function () {
            GetAppointmentTimeByDoctorIdAndDate();

            $("#appointmentDateId").change(function () {
                GetAppointmentTimeByDoctorIdAndDate();
            });
        });
        
        var GetAppointmentTimeByDoctorIdAndDate = function () {
            $.ajax({
                url: '@Url.Action("GetAppointmentTimeByDoctorIdAndDate", "Appointments")',
                type: 'GET',
                data: {
                    doctorId: $('#doctorId').val(),
                    date : $('#appointmentDateId').val()
                },
                success: function (data) {
                    $('#appointmentTimeId').empty(); // Önce mevcut seçenekleri temizle
                    $(data).each(function (index, item) {
                        $(data).each(function (index, item) {
                            $('#appointmentTimeId').append('<option value="' + item.appointmentId + '">' + item.appointmentTime + '</option>');
                        });
                    });
                }
            });
        };
    </script>
}
